.employer-dashboard-container {
  display: flex;
  background: #fcfcfc;
  min-height: calc(100vh - 80px);
}

.employer-main-content {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.content-inner {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .employer-main-content {
    padding: 2rem 1.5rem;
  }
}
